<h3>Welcome!</h3>
<ul>
  <li>{{#link-to 'auth.invitations'}}Invitations{{/link-to}}</li>
  <li>{{#link-to 'auth.guests'}}Guests{{/link-to}}</li>
  {{!-- <li>{{#link-to 'auth.groups'}}Groups{{/link-to}}</li> --}}
</ul>