<page>
  <div class="header-nav">
   <hbox>
     <box xs="4">
       <h1>{{#link-to 'auth.index'}}{{model.wedding.name}}{{/link-to}}</h1>
     </box>
     <hbox xs="8" align="center" justify="end">
       {{#link-to 'auth.invitations'}}Invitations{{/link-to}}
       {{#link-to 'auth.guests'}}Guests{{/link-to}}
       {{#link-to 'auth.admin'}}Settings{{/link-to}} |
       {{#link-to 'logout'}}Signout{{/link-to}}
     </hbox>
   </hbox>
  </div>
  {{outlet}}
</page>
