<page>
  <div>
   <hbox>
     <box xs="4">
       <h1>Guest List</h1>
     </box>
     <hbox xs="8" align="center" justify="end">
       {{#link-to 'auth.index'}}Home{{/link-to}} |
       {{#link-to 'logout'}}Signout{{/link-to}}
     </hbox>
   </hbox>
  </div>
  {{outlet}}
</page>
